---
services:
  mongodb-public:
    image: mongo:6
    container_name: datakolo-mongodb-test
    environment:
      MONGO_INITDB_DATABASE: datakolo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data_public:/data/db

  mongodb:
    image: mongo:6
    container_name: datakolo-mongodb
    environment:
      MONGO_INITDB_DATABASE: datakolo
    volumes:
      - mongodb_data:/data/db
  backend:
    image: denoland/deno:latest
    container_name: datakolo-backend
    environment:
      - DATABASE_URL=mongodb://mongodb:27017/datakolo
      - PORT=8000
      - NODE_ENV=development
      - LOG_LEVEL=DEBUG
    ports:
      - "8000:8000"
    links:
      - "mongodb:mongodb"
    volumes:
      - ./backend:/app
    working_dir: /app
    command: deno run dev

  frontend:
    image: node:20-alpine
    container_name: datakolo-frontend
    links:
      - "backend:backend"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000/api
      - SERVER_API_URL=http://backend:8000/api
      - PORT=3000
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
    working_dir: /app
    command: sh -c "npm install && npm run dev"

volumes:
  mongodb_data:
  mongodb_data_public:
